<a name="home"></a>
<div class="flex flex-col lg:flex-row ">
    <div class="flex-1 flex-col flex justify-center items-start p-5">
        <div class="text-6xl font-bold text-white">
            <span class="text-pink-500">"YOUR HAPPIEST BIRTHDAY,</span>
            <br>
            <span class="text-gray-700">OUR BELAUD <br> HALLS!"</span>
        </div>
        <div class="text-2xl font-bold text-gray-700  py-5">
            <br>

            Enjoy the birthday with friends,<br>
            without hesitating.
            <br>
            <br>
            <br>
        </div>
        <div class="flex flex-col transform transition duration-500 hover:scale-110">
            <a href="/products"
                class="transition duration-150 bg-pink-500 hover:bg-gray-700 hover:shadow-lg text-white font-bold py-4 px-10 rounded">
                Start Booking >
            </a>
        </div>
    </div>
    <div class="flex-1">
        <img class="p-12" src="birthdayGirl.svg" alt="img">
    </div>
</div>