<a name="products"></a>
<div class="text-center">
    <h1 class="underline text-4xl font-bold text-pink-500">OUR SATISFIABLE SERVICES TO YOU</h1>
</div>
<div class="flex flex-col lg:flex-row m-10 justify-around">
    <div class=" blur-sm hover:blur-0 group max-w-sm flex-1 flex flex-col items-center justify-start">
        <div class="max-w-sm rounded overflow-hidden shadow-2xl cursor-pointer">
            <img class="w-full transform transition duration-500 hover:scale-110" src="images/card_images/cleaness.jpg" alt="cleank">
        </div>
        <div class="text-green-900 h-5 duration-500 group-hover:h-40 overflow-hidden">
            <strong class="text-gray-700">EVER CLEANED OUTLETS</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laborum consequuntur, tenetur delectus
            quam enim ipsam commodi iusto obcaecati, nisi nemo dolorum placeat nulla velit, at reiciendis a? Modi,
            nemo?
        </div>
    </div>
    <div class=" blur-sm hover:blur-0 group max-w-sm flex-1 flex flex-col items-center justify-start">
        <div class="max-w-sm rounded overflow-hidden shadow-2xl cursor-pointer">
            <img class="w-full transform transition duration-500 hover:scale-110" src="images/card_images/food_business.jpg" alt="food">
        </div>
        <div class="text-green-900 h-5 duration-500 group-hover:h-40 overflow-hidden">
            <strong class="text-gray-700">THIRD PARTY FOOD SERVICE</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laborum consequuntur, tenetur delectus
            quam enim ipsam commodi iusto obcaecati, nisi nemo dolorum placeat nulla velit, at reiciendis a? Modi,
            nemo?
        </div>
    </div>
    <div class=" blur-sm hover:blur-0 group max-w-sm flex-1 flex flex-col items-center justify-start">
        <div class="max-w-sm rounded overflow-hidden shadow-2xl cursor-pointer">
            <img class="w-full transform transition duration-500 hover:scale-110" src="images/card_images/smile.jpg" alt="smile">
        </div>
        <div class="text-green-900 h-5 duration-500 group-hover:h-40 overflow-hidden">
            <strong  class="text-gray-700">KEEPING SMILE ON YOUR FACE</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laborum consequuntur, tenetur delectus
            quam enim ipsam commodi iusto obcaecati, nisi nemo dolorum placeat nulla velit, at reiciendis a? Modi,
            nemo?
        </div>
    </div>
</div>