<footer class="w-full mt-5 backdrop-blur-md">

    <a name="footer"></a>
    <ul class="flex flex-col lg:flex-row border-t-2 border-y-white mx-3">
        <li class="flex-1 my-5">
            <div class="text-lg text-white font-bold text-center h-10 border-b-2 border-gray-500 mx-2">
                Goal of Cakehalls.in
            </div>
            <div class="m-5 text-white">
                Hi,<br>
                Our goal is to provide a beautiful smile on the customers face by celebrating there birthday in
                birthdayhalls.in outlets and wishing them to keep the smile forever with us.<br>
                Thank you for choosing us.
            </div>
        </li>
        <li class="flex-1 my-5">
            <div class="text-lg text-white font-bold text-center h-10 mx-2 border-b-2 border-gray-500 mx-2">
                Useful Links
            </div>
            <div class="m-5 text-white px-auto pl-10">
                <ul class="list-disc">
                    <li>
                        <a class="hover:underline" href="/#">Products</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="/#"> Help</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="/#"> Terms & Conditions</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="/#">Policy</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="flex-1 my-5">
            <div class="text-lg text-white font-bold text-center h-10 border-b-2 border-gray-500 mx-2">
                Contact info
            </div>
            <div class="m-5 text-white text-center">
                <span># 1019 , Birthdayhalls business center</span><br>
                <span>Main road , Near bus stand </span><br>
                <span>Karoshi , Belagavi pin-591226</span><br>
                <span>Mail : <a class="hover:underline"
                        href="mailto:kotagisourabh81@gmail.com">kotagisourabh81@gmail.com</a></span>
                <span></span><br>
            </div>
        </li>
    </ul>
    <div class="flex flex-col-reverse lg:flex-row justify-between mx-5 text-white">
        <div class="flex-1 flex justify-start items-center">
            ©2022 copyright: cakehalls.in
        </div>
        <div class="flex-1 flex justify-center">
            <ul class="flex flex-row">
                <li class="flex flex-row px-3 justify-center items-center fill-white">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path
                                d="M 24 3.9980469 C 12.972292 3.9980469 4 12.970339 4 23.998047 C 4 27.273363 4.8627078 30.334853 6.2617188 33.064453 L 4.09375 40.826172 C 3.5887973 42.629575 5.3719261 44.41261 7.1757812 43.908203 L 14.943359 41.740234 C 17.670736 43.136312 20.727751 43.998047 24 43.998047 C 35.027708 43.998047 44 35.025755 44 23.998047 C 44 12.970339 35.027708 3.9980469 24 3.9980469 z M 24 6.9980469 C 33.406292 6.9980469 41 14.591755 41 23.998047 C 41 33.404339 33.406292 40.998047 24 40.998047 C 20.998416 40.998047 18.190601 40.217527 15.742188 38.853516 A 1.50015 1.50015 0 0 0 14.609375 38.71875 L 7.2226562 40.779297 L 9.2851562 33.396484 A 1.50015 1.50015 0 0 0 9.1503906 32.261719 C 7.7836522 29.811523 7 27.002565 7 23.998047 C 7 14.591755 14.593708 6.9980469 24 6.9980469 z M 17.240234 15 C 16.921234 15 16.405797 15.119656 15.966797 15.597656 C 15.528797 16.073656 14.294922 17.228125 14.294922 19.578125 C 14.294922 21.928125 16.005141 24.197578 16.244141 24.517578 C 16.482141 24.834578 19.547344 29.812562 24.402344 31.726562 C 28.436344 33.316563 29.256812 32.999922 30.132812 32.919922 C 31.008813 32.841922 32.959422 31.766391 33.357422 30.650391 C 33.755422 29.534391 33.755672 28.579813 33.638672 28.382812 C 33.519672 28.183812 33.200656 28.063219 32.722656 27.824219 C 32.245656 27.585219 29.898937 26.430484 29.460938 26.271484 C 29.022938 26.112484 28.702766 26.031766 28.384766 26.509766 C 28.066766 26.987766 27.152047 28.062859 26.873047 28.380859 C 26.594047 28.700859 26.315891 28.740953 25.837891 28.501953 C 25.358891 28.260953 23.822094 27.757859 21.996094 26.130859 C 20.576094 24.865859 19.620797 23.302219 19.341797 22.824219 C 19.063797 22.348219 19.311781 22.086609 19.550781 21.849609 C 19.765781 21.635609 20.028578 21.292672 20.267578 21.013672 C 20.504578 20.734672 20.583188 20.53675 20.742188 20.21875 C 20.901188 19.90175 20.822125 19.621813 20.703125 19.382812 C 20.584125 19.143813 19.655469 16.780938 19.230469 15.835938 C 18.873469 15.041938 18.49725 15.024719 18.15625 15.011719 C 17.87825 15.000719 17.558234 15 17.240234 15 z" />
                        </svg>
                    </a>
                </li>
                <li class="flex flex-row px-3 justify-center items-center">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path
                                d="M 24 4 C 12.972066 4 4 12.972074 4 24 C 4 35.027926 12.972066 44 24 44 C 35.027934 44 44 35.027926 44 24 C 44 12.972074 35.027934 4 24 4 z M 24 7 C 33.406615 7 41 14.593391 41 24 C 41 32.380773 34.967178 39.306373 27 40.720703 L 27 29 L 30.625 29 C 31.129 29 31.555188 28.623047 31.617188 28.123047 L 31.992188 25.123047 C 32.028188 24.839047 31.938047 24.553891 31.748047 24.337891 C 31.559047 24.122891 31.287 24 31 24 L 27 24 L 27 20.5 C 27 19.397 27.897 18.5 29 18.5 L 31 18.5 C 31.552 18.5 32 18.053 32 17.5 L 32 14.125 C 32 13.607 31.604844 13.174906 31.089844 13.128906 C 31.030844 13.123906 29.619984 13 27.833984 13 C 23.426984 13 21 15.616187 21 20.367188 L 21 24 L 17 24 C 16.448 24 16 24.447 16 25 L 16 28 C 16 28.553 16.448 29 17 29 L 21 29 L 21 40.720703 C 13.032822 39.306373 7 32.380773 7 24 C 7 14.593391 14.593385 7 24 7 z" />
                        </svg>
                    </a>
                </li>
                <li class="flex flex-row px-3 justify-center items-center">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path
                                d="M 16.5 5 C 10.16639 5 5 10.16639 5 16.5 L 5 31.5 C 5 37.832757 10.166209 43 16.5 43 L 31.5 43 C 37.832938 43 43 37.832938 43 31.5 L 43 16.5 C 43 10.166209 37.832757 5 31.5 5 L 16.5 5 z M 16.5 8 L 31.5 8 C 36.211243 8 40 11.787791 40 16.5 L 40 31.5 C 40 36.211062 36.211062 40 31.5 40 L 16.5 40 C 11.787791 40 8 36.211243 8 31.5 L 8 16.5 C 8 11.78761 11.78761 8 16.5 8 z M 34 12 C 32.895 12 32 12.895 32 14 C 32 15.105 32.895 16 34 16 C 35.105 16 36 15.105 36 14 C 36 12.895 35.105 12 34 12 z M 24 14 C 18.495178 14 14 18.495178 14 24 C 14 29.504822 18.495178 34 24 34 C 29.504822 34 34 29.504822 34 24 C 34 18.495178 29.504822 14 24 14 z M 24 17 C 27.883178 17 31 20.116822 31 24 C 31 27.883178 27.883178 31 24 31 C 20.116822 31 17 27.883178 17 24 C 17 20.116822 20.116822 17 24 17 z" />
                        </svg>
                    </a>
                </li>
                <li class="flex flex-row px-3 justify-center items-center">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path
                                d="M 11.5 6 C 8.4802259 6 6 8.4802259 6 11.5 L 6 36.5 C 6 39.519774 8.4802259 42 11.5 42 L 36.5 42 C 39.519774 42 42 39.519774 42 36.5 L 42 11.5 C 42 8.4802259 39.519774 6 36.5 6 L 11.5 6 z M 11.5 9 L 36.5 9 C 37.898226 9 39 10.101774 39 11.5 L 39 36.5 C 39 37.898226 37.898226 39 36.5 39 L 11.5 39 C 10.101774 39 9 37.898226 9 36.5 L 9 11.5 C 9 10.101774 10.101774 9 11.5 9 z M 15.5 13 A 2.5 2.5 0 0 0 15.5 18 A 2.5 2.5 0 0 0 15.5 13 z M 14 20 C 13.447 20 13 20.447 13 21 L 13 34 C 13 34.553 13.447 35 14 35 L 17 35 C 17.553 35 18 34.553 18 34 L 18 21 C 18 20.447 17.553 20 17 20 L 14 20 z M 21 20 C 20.447 20 20 20.447 20 21 L 20 34 C 20 34.553 20.447 35 21 35 L 24 35 C 24.553 35 25 34.553 25 34 L 25 26.5 C 25 25.121 26.121 24 27.5 24 C 28.879 24 30 25.121 30 26.5 L 30 34 C 30 34.553 30.447 35 31 35 L 34 35 C 34.553 35 35 34.553 35 34 L 35 26 C 35 22.691 32.309 20 29 20 C 27.462 20 26.063 20.586016 25 21.541016 L 25 21 C 25 20.447 24.553 20 24 20 L 21 20 z" />
                        </svg>
                    </a>
                </li>
                <li class="flex flex-row px-3 justify-center items-center">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path
                                d="M 12.300781 4 C 12.102781 4 11.958719 4.1898594 12.011719 4.3808594 L 14.681641 14.017578 L 14.681641 18.324219 C 14.681641 18.600219 14.905641 18.824219 15.181641 18.824219 L 16.585938 18.824219 C 16.861938 18.824219 17.085938 18.600219 17.085938 18.324219 L 17.085938 14.017578 L 19.791016 4.3808594 C 19.845016 4.1898594 19.700953 4 19.501953 4 L 17.878906 4 C 17.643906 4 17.441578 4.1586719 17.392578 4.3886719 C 17.079578 5.8446719 15.992875 10.917391 15.921875 11.400391 L 15.849609 11.400391 C 15.749609 10.728391 14.713156 5.820625 14.410156 4.390625 C 14.361156 4.159625 14.159828 4 13.923828 4 L 12.300781 4 z M 22.796875 7.78125 C 21.981875 7.78125 21.324219 7.9425781 20.824219 8.2675781 C 20.322219 8.5905781 19.95475 9.1065 19.71875 9.8125 C 19.48375 10.5205 19.365234 11.456094 19.365234 12.621094 L 19.365234 14.193359 C 19.365234 15.346359 19.468781 16.271797 19.675781 16.966797 C 19.881781 17.661797 20.22975 18.174906 20.71875 18.503906 C 21.20875 18.833906 21.882188 18.998 22.742188 19 C 23.579187 19 24.244422 18.838672 24.732422 18.513672 C 25.220422 18.188672 25.575969 17.677563 25.792969 16.976562 C 26.009969 16.274563 26.119141 15.348359 26.119141 14.193359 L 26.119141 12.621094 C 26.119141 11.455094 26.007203 10.522312 25.783203 9.8203125 C 25.559203 9.1203125 25.208609 8.6043906 24.724609 8.2753906 C 24.241609 7.9453906 23.597875 7.78125 22.796875 7.78125 z M 27.884766 8 C 27.608766 8 27.384766 8.224 27.384766 8.5 L 27.384766 16.082031 C 27.384766 17.083031 27.557437 17.822969 27.898438 18.292969 C 28.240437 18.762969 28.771234 18.998047 29.490234 18.998047 C 30.527234 18.998047 31.306219 18.497094 31.824219 17.496094 L 31.876953 17.496094 L 32.021484 18.400391 C 32.060484 18.643391 32.269625 18.822266 32.515625 18.822266 L 33.5 18.822266 C 33.776 18.822266 34 18.598266 34 18.322266 L 34 8.5 C 34 8.224 33.776 8 33.5 8 L 32.060547 8 C 31.784547 8 31.560547 8.224 31.560547 8.5 L 31.560547 16.595703 C 31.466547 16.796703 31.322953 16.959844 31.126953 17.089844 C 30.930953 17.220844 30.730578 17.285156 30.517578 17.285156 C 30.268578 17.285156 30.091375 17.183563 29.984375 16.976562 C 29.877375 16.769563 29.824219 16.427359 29.824219 15.943359 L 29.824219 8.5 C 29.824219 8.224 29.600219 8 29.324219 8 L 27.884766 8 z M 22.742188 9.4609375 C 23.083188 9.4609375 23.324984 9.6370937 23.458984 9.9960938 C 23.594984 10.354094 23.662109 10.923172 23.662109 11.701172 L 23.662109 15.076172 C 23.662109 15.878172 23.594938 16.455594 23.460938 16.808594 C 23.325937 17.161594 23.084141 17.338844 22.744141 17.339844 C 22.403141 17.339844 22.167109 17.161594 22.037109 16.808594 C 21.906109 16.455594 21.84375 15.876172 21.84375 15.076172 L 21.84375 11.701172 C 21.84375 10.924172 21.912875 10.356094 22.046875 9.9960938 C 22.180875 9.6390938 22.412188 9.4609375 22.742188 9.4609375 z M 11.5 21 C 8.4802259 21 6 23.480226 6 26.5 L 6 38.5 C 6 41.519774 8.4802259 44 11.5 44 L 36.5 44 C 39.519774 44 42 41.519774 42 38.5 L 42 26.5 C 42 23.480226 39.519774 21 36.5 21 L 11.5 21 z M 11.5 24 L 36.5 24 C 37.898226 24 39 25.101774 39 26.5 L 39 38.5 C 39 39.898226 37.898226 41 36.5 41 L 11.5 41 C 10.101774 41 9 39.898226 9 38.5 L 9 26.5 C 9 25.101774 10.101774 24 11.5 24 z M 12.5 26 C 12.224 26 12 26.224 12 26.5 L 12 27.5 C 12 27.776 12.224 28 12.5 28 L 14 28 L 14 37.982422 C 14 38.258422 14.224 38.482422 14.5 38.482422 L 15.5 38.482422 C 15.776 38.482422 16 38.258422 16 37.982422 L 16 28 L 17.5 28 C 17.776 28 18 27.776 18 27.5 L 18 26.5 C 18 26.224 17.776 26 17.5 26 L 12.5 26 z M 24.5 26 C 24.224 26 24 26.224 24 26.5 L 24 37.982422 C 24 38.258422 24.224 38.482422 24.5 38.482422 L 25.332031 38.482422 C 25.563031 38.482422 25.764359 38.324609 25.818359 38.099609 L 25.927734 37.650391 L 25.970703 37.650391 C 26.124703 37.948391 26.353156 38.183469 26.660156 38.355469 C 26.967156 38.527469 27.309594 38.613281 27.683594 38.613281 C 28.354594 38.613281 28.847062 38.304547 29.164062 37.685547 C 29.481063 37.066547 29.640625 36.099156 29.640625 34.785156 L 29.640625 33.390625 C 29.640625 32.403625 29.579937 31.632219 29.460938 31.074219 C 29.341938 30.518219 29.145906 30.114234 28.878906 29.865234 C 28.611906 29.616234 28.243437 29.490234 27.773438 29.490234 C 27.408438 29.490234 27.068953 29.594781 26.751953 29.800781 C 26.435953 30.007781 26.189578 30.275328 26.017578 30.611328 L 26 30.611328 L 26 26.5 C 26 26.224 25.776 26 25.5 26 L 24.5 26 z M 33.220703 29.496094 C 32.233703 29.496094 31.535906 29.800156 31.128906 30.410156 C 30.721906 31.020156 30.517578 31.987547 30.517578 33.310547 L 30.517578 34.849609 C 30.517578 36.135609 30.710469 37.085219 31.105469 37.699219 C 31.500469 38.313219 32.186062 38.619141 33.164062 38.619141 C 33.979062 38.619141 34.609641 38.419625 35.056641 38.015625 C 35.468641 37.645625 35.691656 37.097047 35.722656 36.373047 C 35.722656 36.097047 35.496703 35.873047 35.220703 35.873047 L 34.460938 35.873047 C 34.184937 35.873047 33.955078 36.097047 33.955078 36.373047 C 33.955078 36.560047 33.920469 36.791875 33.855469 36.921875 C 33.735469 37.158875 33.504031 37.267578 33.207031 37.267578 C 32.987031 37.267578 32.82375 37.204219 32.71875 37.074219 C 32.61375 36.946219 32.546719 36.739031 32.511719 36.457031 C 32.476719 36.175031 32.460938 35.750594 32.460938 35.183594 L 32.460938 34.736328 L 35.28125 34.736328 C 35.55725 34.736328 35.78125 34.512328 35.78125 34.236328 L 35.78125 33.222656 C 35.78125 32.292656 35.706594 31.563156 35.558594 31.035156 C 35.409594 30.509156 35.152062 30.121094 34.789062 29.871094 C 34.424062 29.622094 33.900703 29.496094 33.220703 29.496094 z M 21.513672 29.660156 C 21.237672 29.660156 21.013672 29.884156 21.013672 30.160156 L 21.013672 36.667969 C 20.934672 36.830969 20.820156 36.966266 20.660156 37.072266 C 20.502156 37.179266 20.336063 37.232422 20.164062 37.232422 C 19.960063 37.232422 19.817469 37.149469 19.730469 36.980469 C 19.644469 36.814469 19.601562 36.530672 19.601562 36.138672 L 19.601562 30.164062 C 19.601562 29.888063 19.377562 29.664062 19.101562 29.664062 L 18.113281 29.664062 C 17.837281 29.664063 17.613281 29.888063 17.613281 30.164062 L 17.613281 36.253906 C 17.613281 37.067906 17.75225 37.669734 18.03125 38.052734 C 18.31025 38.437734 18.740172 38.628906 19.326172 38.628906 C 20.170172 38.628906 20.802609 38.221297 21.224609 37.404297 L 21.269531 37.404297 L 21.373047 38.0625 C 21.412047 38.3045 21.621188 38.482422 21.867188 38.482422 L 22.5 38.482422 C 22.776 38.482422 23 38.258422 23 37.982422 L 23 30.160156 C 23 29.884156 22.776 29.660156 22.5 29.660156 L 21.513672 29.660156 z M 33.177734 30.835938 C 33.390734 30.835938 33.545484 30.896625 33.646484 31.015625 C 33.747484 31.136625 33.814562 31.340766 33.851562 31.634766 C 33.889562 31.926766 33.908203 32.354875 33.908203 32.921875 L 33.908203 33.554688 L 32.457031 33.554688 L 32.457031 32.921875 C 32.457031 32.347875 32.473813 31.916766 32.507812 31.634766 C 32.539812 31.351766 32.606031 31.148438 32.707031 31.023438 C 32.808031 30.899438 32.966734 30.835938 33.177734 30.835938 z M 26.878906 30.902344 C 27.081906 30.902344 27.237656 30.983625 27.347656 31.140625 C 27.456656 31.297625 27.534172 31.565453 27.576172 31.939453 C 27.620172 32.314453 27.642578 32.846109 27.642578 33.537109 L 27.642578 34.671875 L 27.640625 34.671875 C 27.640625 35.313875 27.613547 35.818641 27.560547 36.181641 C 27.509547 36.546641 27.421875 36.806938 27.296875 36.960938 C 27.171875 37.114938 27.003969 37.189453 26.792969 37.189453 C 26.628969 37.189453 26.478844 37.147266 26.339844 37.072266 C 26.200844 36.995266 26.087 36.882516 26 36.728516 L 26 31.720703 C 26.066 31.482703 26.184656 31.285812 26.347656 31.132812 C 26.510656 30.978813 26.687906 30.902344 26.878906 30.902344 z" />
                        </svg>
                    </a>
                </li>


            </ul>

        </div>

    </div>
</footer>