<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head.ejs" , {title: 'Address'}) %>


<body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" style="scrollbar-width: none;">

    <%- include("../templates/header.ejs") %>

        <main class="flex flex-col">
            <div class="" style="font-size: 300px;">Address</div>
            <div class="" style="font-size: 300px;">Address</div>
        </main>
        <%- include("../templates/footer.ejs") %>


</body>

</html>