<%- include("../templates/head.ejs" , {title: 'Logout' }) %>


    <body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" style="scrollbar-width: none;">

        <%- include("../templates/header.ejs") %>

            <main class="flex flex-col">

                <h1 id="logoutStatus" class="text-4xl">
                    
                </h1>
                <script>
                    let logoutConform= confirm("Are you sure?")
                    let logoutStatus = document.querySelector("#logoutStatus")
                    if(logoutConform){
                        localStorage.removeItem("halls-user")
                        window.location.replace("/")
                        logoutStatus.innerHTML = "Logging out....."
                    }else{
                        window.history.back()
                        logoutStatus.innerHTML= "Cancled"
                    }
                </script>
            </main>
            <%- include("../templates/footer.ejs") %>


    </body>

    </html>