<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <meta http-equiv="refresh" content="1; url = <%= redirectingUrl %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Success | CakeHalls.in</title>
</head>

<body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" style="scrollbar-width: none;">

    <%- include("../templates/header.ejs") %>

        <main class="flex flex-col">
            <div class="m-10 flex justify-center items-center" style="font-size: 300px;">
                <img src="/images/success.gif" alt="success">
            </div>
        </main>
        <%- include("../templates/footer.ejs") %>

</body>

</html>