<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="1; url = <%= url %>" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <style>
        .div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="div">
        Redirecting to <%= url %>
    </div>
    <script>
        let data = JSON.parse('<%- JSON.stringify(data) %>')
        localStorage.setItem("halls-user", JSON.stringify(data));
        setTimeout(function () {
            location.href = "/";
        }, 1000)
    </script>
</body>

</html>