<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Sign Up | CakeHalls.in</title>
</head>

<body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" style="scrollbar-width: none;">

    <%- include("../templates/header.ejs") %>

        <main class="flex flex-col justify-center items-center">
            <div class="p-5">
                <h1 class="text-5xl font-bold text-gray-700"> Welcome to CakeHalls </h1>
                <h1 class="text-green-700"> *Please authenticate yourself for booking process. </h1>
            </div>
            <div
                class="flex flex-col justify-center items-center lg:flex-row w-3/4 h-3/5 backdrop-blur-lg shadow-lg m-3 lg:m-5 border-2 border-pink-500">
                <!-- <div class="hidden w-1/2 shadow-lg lg:flex justify-center items-center">
                    <div class="w-4/5 h-4/5 p-20">
                        <img src="/login_page_design.svg" alt="login">
                    </div>
                </div> -->
                <div class="w-full flex justify-center items-start py-5 lg:py-10">
                    <form class="signup w-full" action="/user/signup" method="post" encType="multipart/form-data">
                        <ul class="flex justify-center items-center flex-col">
                            <li class="flex justify-center items-start">
                                <div class="w-28 h-28 overflow-hidden">
                                    <img src="/male_login.svg" alt="login">

                                </div>

                            </li>
                            <li class="w-full flex flex-col justify-around lg:flex-row items-center ">
                                <div>
                                    <label for="first_name">
                                        First Name <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        <input required
                                            class="w-max bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="first name" minlength=10 type="text" name="first_name"
                                            id="first_name">
                                    </div>
                                </div>
                                <div>
                                    <label for="last_name">
                                        Last Name <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-user-plus">
                                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="8.5" cy="7" r="4"></circle>
                                            <line x1="20" y1="8" x2="20" y2="14"></line>
                                            <line x1="23" y1="11" x2="17" y2="11"></line>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="last name" minlength=10 type="text" name="last_name"
                                            id="last_name">
                                    </div>
                                </div>
                                <div>
                                    <label for="mobile">
                                        Mobile <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-phone">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="ex : 1234567890" minlength=10 type="text" name="mobile"
                                            id="mobile">
                                    </div>
                                </div>
                            </li>
                            <li class="w-full flex flex-col justify-around lg:flex-row items-center">
                                <div>
                                    <label for="password">
                                        Password <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-unlock">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
                                        </svg>
                                        <input class="bg-transparent border-b-2 border-pink-500 mx-2 outline-none"
                                            placeholder="xyz@#$123"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
                                            type="password" name="password" id="password">
                                    </div>
                                </div>

                                <div>

                                    <label for="conform_password">
                                        Conform Password <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        <input class="bg-transparent border-b-2 border-pink-500 mx-2 outline-none"
                                            placeholder="xyz@#$123"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
                                            type="password" name="conform_password" id="conform_password">
                                    </div>
                                    <div id="password_status" class="text-sm">

                                    </div>
                                </div>
                                <div>
                                    <label for="email">
                                        Email <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-at-sign">
                                            <circle cx="12" cy="12" r="4"></circle>
                                            <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2 border-pink-500 mx-2 outline-none"
                                            placeholder="abc@mail.com" type="email" name="email" pattern="[^ @]*@[^ @]*"
                                            id="email">
                                    </div>
                                </div>

                            </li>
                            <li class="w-full flex flex-col lg:flex-row justify-around items-center ">
                                <div>
                                    <label for="country">
                                        Country <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-aperture">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                                            <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                                            <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                                            <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                                            <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                                            <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2 border-pink-500 mx-2 outline-none"
                                            placeholder="ex: india" type="country" name="country" id="country">
                                    </div>
                                </div>
                                <div>
                                    <label for="state">
                                        State <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chrome">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <circle cx="12" cy="12" r="4"></circle>
                                            <line x1="21.17" y1="8" x2="12" y2="8"></line>
                                            <line x1="3.95" y1="6.06" x2="8.54" y2="14"></line>
                                            <line x1="10.88" y1="21.94" x2="15.46" y2="14"></line>
                                        </svg>
                                        <input required
                                            class="w-max bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="state" type="text" name="state" id="state">
                                    </div>
                                </div>
                                <div>
                                    <label for="city">
                                        City <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-crosshair">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="22" y1="12" x2="18" y2="12"></line>
                                            <line x1="6" y1="12" x2="2" y2="12"></line>
                                            <line x1="12" y1="6" x2="12" y2="2"></line>
                                            <line x1="12" y1="22" x2="12" y2="18"></line>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="city" type="text" name="city" id="city">
                                    </div>
                                </div>

                            </li>
                            <li class="flex flex-col lg:flex-row justify-around items-center w-full">
                                <div>
                                    <label for="address">
                                        Address <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                        </svg>
                                        <input required
                                            class="bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="address" type="text" name="address" id="address">
                                    </div>
                                </div>

                                <div>
                                    <label for="pin">
                                        Pin <span class="text-red-700">*</span>
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-map-pin">
                                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                            <circle cx="12" cy="10" r="3"></circle>
                                        </svg>
                                        <input required
                                            class="w-max bg-transparent border-b-2  border-pink-500 mx-2 outline-none"
                                            placeholder="pin" type="text" name="pin" id="pin">
                                    </div>
                                </div>
                                <div>
                                    <label for="profile">
                                        Profile
                                    </label>
                                    <div class="flex border-2 border-gray-500 p-3 rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ED64A6" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-camera">
                                            <path
                                                d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                                            </path>
                                            <circle cx="12" cy="13" r="4"></circle>
                                        </svg>
                                        <input class="w-40 bg-transparent border-b-2  border-pink-500 mx-4 outline-none"
                                            placeholder="Upload profile Image" type="file" accept="image/png"
                                            name="profile" id="profile">
                                    </div>
                                </div>
                            </li>
                            <li class="py-5 w-full flex justify-center items-center">

                                <button type="submit" value="SignUp" id="signup" disabled
                                    class="w-40 bg-green-700 text-white font-bold p-3 rounded-lg ">
                                    SignUp
                                </button>


                            </li>
                            <li class="flex justify-start flex-col">
                                <div>
                                    Already registered?<a href="/user/login" class="text-blue-700"> Login</a>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>

            </div>
        </main>
        <%- include("../templates/footer.ejs") %>


</body>
<script>
    let cpass = document.getElementById("conform_password")
    let pass = document.getElementById('password')
    let signup = document.getElementById('signup')
    let status = document.getElementById('password_status')

    cpass.addEventListener("input", (e) => {
        if (pass.value == cpass.value) {
            cpass.parentNode.style.border = "solid 2px green";
            signup.disabled = false
            status.innerText = ""

        } else {
            signup.disabled = true
            cpass.parentNode.style.border = "solid 2px red";
            status.innerText = "*Password shoud match"
            status.style.color = "red"
        }
    })



</script>

</html>